html {
  body {
    position: relative;
    height: 100%;
    background: black;
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 14px;
    color: #000;
    margin: 0;
    padding: 0;
    .swiper {
      width: 100%;
      margin-top: 100px;
      padding-bottom: 50px;
      .swiper-wrapper {
        .swiper-slide {
          background-position: center;
          background-size: cover;
          width: 320px;
          height: 480px;
          border-radius: 0 12px;
          border: 1px solid #0098ff;
          display: flex;
          align-items: center;
          justify-content: center;
          flex-direction: column;
          padding: 20px;
          margin: 0 20px;
          background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,51,121,0.4767156862745098) 54%, rgba(8,27,167,1) 100%);

          .cardHeader {
            width: 100%;
            height: 20%;
            display: flex;
            gap: 10px;
            flex-direction: column;
            align-items: flex-start;
            justify-content: flex-start;
            .cardTitle {
              font-size: 26px;
              color: #fff;
            }
            .productType {
              font-size: 14px;
              color: #838383;
            }
          }
          .productImage {
            width: 100%;
            height: 55%;
            img {
              width: 100%;
              height: 100%;
              object-fit: contain;
            }
          }
          .productSize {
            width: 100%;
            height: 5%;
            color: #fff;
            font-size: 14px;
          }
          .productInp {
            width: 100%;
            height: 10%;
            select {
              width: 100%;
              background-color: transparent;
              border-radius: 0 10px;
              padding: 10px 15px;
              color: #838383;
              outline: none;
            }
          }
          .productPrice {
            width: 100%;
            height: 10%;
            display: flex;
            justify-content: space-between;
            align-items: center;

            .price {
              color: #fff;
              font-size: 25px;
              font-weight: 600;
            }
            .cardBtn {
              a {
                color: #fff;
                padding: 10px 15px;
                background: linear-gradient(250deg, #0098ff 0%, #7b35c8 100%);
                border-radius: 0 14px;
              }
            }
          }
          .sth {
            width: 200px;
            text-align: center;
            position: absolute;
            bottom: 2px;
            left: 10px;
            background-color: rgb(121, 83, 83);
            color: #fff;
            font-family: "Dancing Script", cursive;
          }
          img {
            display: block;
            width: 100%;
          }
        }
      }
    }
  }
}
